.CompanyCard {
    background-color: white;
    max-height: 250px;
    padding: 1.25rem;
    margin-bottom: 1rem;
    color: black;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-decoration: none;
}

.CompanyCard .card-body img {
    width: 50px;
}

.CompanyCard:hover {
    text-decoration: none;
    color: #0d6efd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}